:root {
  --theme-color-bg: #fff;
  --theme-color-text: #333;

  --theme-color-border: #ccc;

  --theme-color-ptrn-invalid: #b82c16;
  --theme-color-ptrn-text: #fff;
  --theme-color-ptrn-primary: #17a2b8;
  --theme-color-ptrn-secondary: #6c757d;

  font-size: 16px;
}

body {
  padding-inline: 0.5rem;
  color: var(--theme-color-text);
  background-color: var(--theme-color-bg);
  font-size: 1rem;
}
