.button {
  padding: 0.5rem 0.8rem;
  border-radius: 0.25rem;
  border: none;
  background-color: transparent;

  &:disabled {
    opacity: 0.5;
  }
  &:not(:disabled):hover {
    opacity: 0.8;
  }
}

.color-schema {
  &--primary {
    color: var(--theme-color-ptrn-text);
    background-color: var(--theme-color-ptrn-primary);
  }
  &--secondary {
    color: var(--theme-color-ptrn-text);
    background-color: var(--theme-color-ptrn-secondary);
  }
}
