.paragraph {
  color: var(--theme-color-text);
  line-height: 1.8;
}

.font-color {
  &--invalid {
    color: var(--theme-color-ptrn-invalid);
  }
}

.font-size {
  &--xs {
    font-size: 0.75rem;
  }
  &--sm {
    font-size: 0.875rem;
  }
  &--md {
    font-size: 1rem;
  }
  &--lg {
    font-size: 1.25rem;
  }
  &--xl {
    font-size: 1.5rem;
  }
}
