.stack {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.gap {
  &--xs {
    gap: 0.5rem;
  }
  &--sm {
    gap: 1rem;
  }
  &--md {
    gap: 2rem;
  }
  &--lg {
    gap: 3rem;
  }
  &--xl {
    gap: 4rem;
  }
}
